<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Random Vimeo</title>
  <link rel="shortcut icon" href="/stylesheets/wei.png"/>
  <link rel="stylesheet" href="/stylesheets/main.css" title="" type="text/css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <link rel="stylesheet" href="/stylesheets/source/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
  <script type="text/javascript" src="/stylesheets/source/jquery.fancybox.pack.js?v=2.1.4"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $(".various").fancybox({
        maxWidth  : 800,
        maxHeight : 600,
        fitToView : false,
        width   : '70%',
        height    : '70%',
        autoSize  : false,
        closeClick  : false,
        openEffect  : 'none',
        closeEffect : 'none'
      });
    });
  </script>
</head>
  <body>
  <div class='videos'>
    {% block content %}
    {% endblock %} 
  </div>
  </body>
  
</html>
