<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>GAE rocks</title>
  <body>
  <form action="" method="post" accept-charset="utf-8">
    <label for="">title</label>
    <input type="text" name="title" id="" value="{{title}}" />
    <br />
    <label for="">body</label>
    <textarea name="body" id= rows="8" cols="40">{{body}}</textarea>
    <input type="submit" name="" id="" value="Shipit" /> 
  </form>
  <hr />
  {% for p in post %}
    <li>
    {{p.title}}
    <br />
    {{p.body}}
   </li>
  {% endfor %}
  </body>
  
</head>
</html>
